bin/           # binaire compilé (out-dir bin)
target/        # dossier de compilation Rust
/bin/           # binaire compilé (out-dir bin)
/target/        # dossier de compilation Rust
*/bin/          # binaire compilé (out-dir bin)
*/target/       # dossier de compilation Rust
**/bin/          # binaire compilé (out-dir bin)
**/target/       # dossier de compilation Rust
